/* General styling for body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f5;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Container styling for centering content */
.container {
    max-width:90%;
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

/* Header styling */
h1 {
    font-size: 2em;
    color: #333399;
    text-align: center;
}

/* Subtitle styling */
p {
    font-size: 1.1em;
    margin-bottom: 20px;
    text-align: center;
}

/* List styling */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 10px;
    font-size: 1.1em;
    border-bottom: 1px solid #ddd;
}

ul li:last-child {
    border-bottom: none;
}

/* Link styling */
a {
    color: #333399;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
}

a:hover {
    text-decoration: underline;
}

/* Photos section styling */
.photos {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-down: 30px;
}

/* Photo styling */
.photo {
    width: 30%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
